


/* Landing page */
.inverted {
    color: white;
    background-color: black;
}

.landing_lead {
    padding: 50px 100px 50px 250px;
    font-size: 250%;
}

.container{

}


#head-name{background-color: gray; font-size: 40px;}
#businesscard-image{} /* image styling is done inline */
#heart-image{display: inline;}
#name-container{}


/* can remove this */
/*
#tablet-name{left: 30%; top: 30%; position: absolute; color: black; width: 50px;}
#phone-name{left: 70%; top: 45%; position: absolute; color: black; width: 50px;}

#businesscard-name{}
#businesscard-text{left: 42%; top: 7%; position: absolute; color: black; width: 160px;}
#article-text{left: 5%; top: 50%; position: absolute; width: 150px;}
#article-name{}
*/


#landing_heading {
    position: absolute;
    top: 50px;
    left: 200px;
    overflow: visible;
    font-size: 8em;
    width: 30%;
    border:red 1px solid;
    z-index: 999;
}

#create_name {
    margin-top: 60%;
    margin-left: 30%;
    font-size: 300%;
}

/*
animation of the loading page
*/

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
