
body, html {
    min-height: 100%;
    height: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* Landing page */
.inverted {
    color: white;
    background-color: #222;
    
}

#landing_lead {
    padding: 200px 100px 50px 250px;
    
    position: absolute;
    bottom: 100px;
    font-weight:500;
    text-align: justify;
}

#funded {
    color: white;
}

#landing_heading {
    color: #ABABAB;
    position: absolute;
    top: 50px;
    left: 200px;
    overflow: visible;
    width: 40%;
    z-index: 999;
    text-align: right;
    
    padding: 5px 20px 5px 20px;
}
#landing_heading h1 {
    font-size: 4em;
    font-weight:700;
}

.fixed-container{
    min-height: 100%;
    height: 100%;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus {
  background-color: white;
  color: black;
}

.btn-custom:active {
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#head-name{background-color: gray; width: 106%; margin-left: -3%;}
#businesscard-image{} /* image styling is done inline */


/* can remove this */
/*
#tablet-name{left: 30%; top: 30%; position: absolute; color: black; width: 50px;}
#phone-name{left: 70%; top: 45%; position: absolute; color: black; width: 50px;}

#businesscard-name{}
#businesscard-text{left: 42%; top: 7%; position: absolute; color: black; width: 160px;}
#article-text{left: 5%; top: 50%; position: absolute; width: 150px;}
#article-name{}
*/

#create_name {
    margin-top: 60%;
    margin-left: 30%;
    font-size: 300%;
}

#landing_left {
    height: 100%;
    min-height: 100%;
}

/*
animation of the loading page
*/

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
