{% extends "layout.html" %}
{% block body %}

  <div id="landing_heading" class="inverted">
    <h1>Company name that gets you <span id="funded">funded<span></h1>
  </div>

  <div class="col-xs-12 col-md-5 inverted" id="landing_left">

    <p class="lead" id="landing_lead">
      Research shows that the right brand name helps companies raise more money and improves other KPIs. Nimi uses Artificial Intelligence to create a brand name for your startup by learning from names of the most successful funded startups on this planet.
    </p>
  </div>

  <div class="col-xs-12 col-md-7">
    <a href="/loading">
      <button type="button" class="btn btn-custom btn-lg" id="create_name">Create a name
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </a>
  </div>

{% endblock %}
