{% extends "layout.html" %}
{% block body %}

  <div id="landing_heading" class="inverted">
    <h1>Company name that gets you funded</h1>
  </div>

  <div class="col-xs-12 col-md-5 inverted">

    <p class="lead landing_lead">
      Unicorn intuitive user story iterate long shadow Steve Jobs sticky note iterate. Physical computing earned media quantitative vs. qualitative affordances entrepreneur 360 campaign grok thought leader hacker grok quantitative vs. qualitative.
    </p>
  </div>

  <div class="col-xs-12 col-md-7">
    <a href="/loading"><button type="button" class="btn btn-primary btn-lg" id="create_name">Create a name</button></a>
  </div>

{% endblock %}
