{% extends "layout.html" %}
{% block body %}

  <div class="col-xs-12 col-md-6" style="background-color:#000;color:white;">
    <h1>lorem ipsum</h1>
    <p>
      Get a winning name for your startup
    </p>
  </div>

  <div class="col-xs-12 col-md-6">  
    <ul class="list-group">
    {% for entry in entries %}
      <li class="list-group-item">{{ entry|safe }}
    {% else %}
      <li><em>Unbelievable. No names could be generated</em>
    {% endfor %}
    </ul>

    <button type="button" class="btn btn-primary btn-lg" id="get_a_name">Get a name</button>
  </div>

{% endblock %}
